            @media(min-width:320px) and (max-width:575px) {
                #banner-part {
                    padding: 10px 0 0;
                }
                #banner-part .welcome {
                    padding-top: 200px;
                }
                #authentic-part .text1 {
                    padding-top: 0px;
                }
                #authentic-part {
                    background-size: contain;
                    height: 45vh;
                }
                #banner-part .img .pic {
                    width: 80% !important;
                }
                #banner-part .img .pic2 {
                    width: 80% !important;
                    height: 95% !important;
                    margin-right: 15px;
                }
                #banner-part .img img+img {
                    bottom: -15px;
                    right: 100px;
                }
                #authentic-part .text1 p {
                    padding-top: 100px;
                    font-size: 12px;
                }
                #authentic-part .text1 h2 {
                    font-size: 25px;
                }
                #authentic-part .text2 p {
                    margin-top: -200px;
                    font-size: 12px;
                }
                #authentic-part .text2 h2 {
                    font-size: 25px;
                }
                #details {
                    padding: 0 10px;
                }
                #details>.image {
                    height: 20vh;
                }
                #food-menu .menu {
                    font-size: 40px;
                    text-align: center;
                    margin-bottom: 0px;
                }
                #food-menu .food-selection {
                    text-align: center;
                }
                #food-menu .food-selection {
                    margin-top: 0px;
                }
                #food-menu>.banner {
                    height: 20vh;
                }
                /* #chef-part {
                    padding-bottom: 200px;
                } */
                #chef-part .chef {
                    font-size: 40px;
                    text-align: center;
                }
                #chef-part .chef-selection {
                    margin-top: 0px;
                    margin-bottom: 50px;
                }
                #about-part {
                    height: 30vh;
                    background-position-y: bottom;
                    background-size: contain;
                }
                #about-part .text1 {
                    padding-top: 50px;
                }
                #about-part .text1 h2 {
                    font-size: 20px;
                    padding: 0;
                }
                #chef-part .img .chef-overlay>div {
                    padding-top: calc(9%);
                    padding-left: calc(5%);
                }
                #details .banner5 h2 {
                    font-size: 32px;
                    line-height: 36px;
                }
                #details .banner5 {
                    margin: 0px;
                    padding: 24px;
                }
                #details .banner5 p {
                    font-size: 14px;
                    margin-top: 20px;
                }
                #footer-part {
                    padding: 100px 0;
                }
                #footer-part .footer {
                    text-align: center;
                    padding: 30px 0;
                }
                #footer-part .footer:last-child {
                    text-align: center;
                }
                #footer-part .footer:last-child input {
                    width: 96%;
                }
                #footer-part .footer:last-child .button a {
                    margin-left: 5px;
                }
            }
            
            @media(min-width:576px) and (max-width:767px) {}
            
            @media(min-width:768px) and (max-width:991px) {}
            
            @media(min-width:991px) and (max-width:1199px) {}